/* Apply a flexbox layout */
body, html {
    height: 100%; /* Occupy the full height */
    margin: 0; /* Remove default margin */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Stretch the container to the full height of the viewport */
}

.main-content {
    flex: 1; /* Allow main content to grow and fill the available space */
}
.side-bar{
    float: left;
    width: 20%;
    height: 600px;
    background-color: #222121;
    border-radius: 20px;
    border: 5px solid rgb(105, 67, 229);
}

.main-content{
    float: left;
}
#webpack-dev-server-client-overlay {
    display: none !important;
}