/* Apply a flexbox layout */
body, html {
    height: 100%; 
    margin: 0; 
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.main-content {
    flex: 1; 
} 
.main-content-container {
    width: 80%;
    float: right;
} 
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* Use a clean font-family */
    background-color: #f4f4f4; /* Light background for the entire app */
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboard-layout {
    display: flex; 
}

#webpack-dev-server-client-overlay {
    display: none !important;
}